h1 {
	text-align: center;
	font-size: 3rem;
	margin: 0;
	font-family: 'Montserrat Alternates';
}

h2 {
	text-align: center;
	font-size: 1.5rem;
	margin-top: 0;
	font-family: 'Montserrat Alternates';
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #d3d3d3;
	color: #1c1c1c;
}

.container {
	display: grid;
	grid-template-columns: 1.5fr 2fr 2fr;
	grid-template-rows: auto auto auto;
	grid-template-areas:
		"items memory knapsack"
		"items memory parameters"
		"items harmony parameters"
		"space space parameters";
	gap: 1rem;
	padding: 2rem;
	height: 40vh;
	box-sizing: border-box;
}

.section {
	background-color: #efefef;
	border-radius: 1rem;
	padding: 1rem;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	overflow: auto;
}

.title {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 1rem;
}

.items {
	grid-area: items;
	display: flex;
	flex-direction: column;
	height: 60vh;
	overflow-y: auto;
	font-family: 'Montserrat Alternates';
}

.memory {
	grid-area: memory;
	height: 45vh;
	margin-top: 0;
	font-family: 'Montserrat Alternates';
}

.knapsack {
	grid-area: knapsack;
	height: 24vh;
	text-align: center;
	font-family: 'Montserrat Alternates';
}

.harmony {
	grid-area: harmony;
	height: 13vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-family: 'Montserrat Alternates';
}

.parameters {
	grid-area: parameters;
	height: 36vh;
	font-family: 'Montserrat Alternates';
}

.play {
	grid-area: play;
	text-align: center;
}

.item-box,
.memory-box,
.harmony-box,
.knapsack-box {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	margin: 0.2rem;
	background-color: white;
	border: 2px solid black;
	border-radius: 0.5rem;
	width: 40px;
	height: 60px;
	justify-content: space-between;
	font-weight: bold;
}

.harmony-box.invalid {
	border: 2px solid red;
}

.slider-group {
	margin-bottom: 1rem;
}

.slider-group label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: 600;
}

.slider-group input {
	width: 100%;
}

button {
	margin-bottom: 0;
	padding: 1rem 1.5rem;
	font-size: 1rem;
	border: none;
	border-radius: 0.5rem;
	background-color: #4caf50;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s;
	font-family: 'Montserrat Alternates';
}

button:hover {
	background-color: #45a049;
}